<div class="row mt-4">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-3">Top Heroes</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4" *ngFor="let hero of heroes">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{hero.name}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a [routerLink]="['/detail', hero.id]" class="card-link">View</a>
            </div>
        </div>
    </div>
</div>

